body {
    background-color: var(--blue);
    overflow-x: hidden;
}

#about-me {
    position: relative;
    height: 145vh;
}

.about-me {
    display: flex;
    width: 100%;
    height: 100vh;
    /* position: relative; */
}

.about-me_image, .about-me_content {
    width: 50%;
    height: 100%;
}

.about-me_image img {
    position: absolute;
    left: 2vw;
    /* top: -10vh; */
    max-width: 60vw;
    filter: opacity(0.7);
    mix-blend-mode: luminosity; /* Similaire à background-blend-mode */
    background-color: var(--blue);
    /* transform: translate(20px, 80px); */
    z-index: -1;
}

.about-me_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw 0 0;
}

.about-me_desc {
    position: relative;
}

.about-me_title {
    text-align: right;
    margin-bottom: 2vh;
}

.about-me_text {
    color: var(--white);
    text-align: right;
    font-size: clamp(1rem, 1.7vw, 2.5rem);
    margin-bottom: 2rem;
}

.about-me_action {
    display: inline-block;
    position: absolute;
    right: 0;
}


.about-me_content img {
    position: absolute;
    right: -1vw;
    top: 0;
    max-width: 60vw;
    filter: opacity(0.7);
    mix-blend-mode: luminosity; /* Similaire à background-blend-mode */
    background-color: var(--blue);
    transform: translate(8vw, 15vh);
    z-index: -1;
}

.join-me {
    position: absolute;
    width: 100%;
    height: 45vh;
    bottom: 0;
    left: 1.5vw;
    display: flex;
    justify-content: end;
    align-items: center;
    background: linear-gradient(#10007100 , #0f0071 90%);
    z-index: 2;
}

.action-social {
    color: var(--white);
    font-size: clamp(.8vw, 2.5vw, 3.5vw);
    display: flex;
    align-items: center;
    margin-right: 7vw;

}

.action-social img {
    margin-left: 10px;
}

/* COMPÉTENCE */

.competences {
    height: 100vh;
    padding: 0 10vw;
}

.competences_text {
    color: var(--white);
    margin-top: 3vh;
    margin-left: 5vw;
    width: 80%;
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.competences_title {
    margin-left: 5vw;
    margin-top: 10vw;
}

.competence {
    background-color: var(--beige);
    width: 24vw;
    padding: 3vw;
    border-radius: 40px;
}

.testimonie-action {
    display: block;
    width: fit-content;
    margin: 2.6vh auto;
}

.slider {
    width: 100%;
    margin: 5vh 0;
    overflow: hidden;
}

.slider .list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    min-width: calc(24vw * var(--items));
    position: relative;
}

.slider .competence {
    width: var(--width);
    position: absolute;
    left: 100%;
    animation: autorun 30s linear infinite;
    animation-delay: calc( (30s / var(--items)) * (var(--position) - 1) - 30s);
}

.header {
    margin-bottom: 4vh;
    display: flex;
    align-items: center;
}

.header-name {
    font-size: 1.4rem;
}

.header-username {
    font-size: .9rem;
}

.header-profile {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: var(--blue);
    margin-right: 10px;
}

.competence-info-title {
    font-size: clamp(1rem, 1.5vw, 2rem);
    margin-bottom: 1.5vh;
}

/* FORMATION */

.formation {
    height: 100vh;
    padding: 0 10vw;
    position: relative;
}

.formation-text {
    color: var(--white);
    margin-top: 3vh;
    margin-left: 5vw;
    width: 80%;
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.formation-title {
    margin-left: 5vw;
    margin-top: 10vw;
}
.card-wrapper {
    margin-top: 10vh;
    display: flex;
    gap: 60px;
}

.formation-card {
    width: 15vw;
    height: 35vh;
}

.card-header {
    background-color: var(--beige);
    height: 75%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-footer {
    background-color: var(--blue);
    height: 25%;
    box-shadow: 0px 1px 5px 1px #1111118e;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .card-footer:hover {
    background-color: var(--blue);
    height: 25%;
    box-shadow: inset 0px 2px 2px 4px #1111118e;
    padding: 25px 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
} */

.card-footer-title {
    color: var(--yellow);
    font-size: clamp(.8rem, 1.3vw, 2.5rem);
}

.formation-action {
    display: block;
    width: fit-content;
    margin: 5vw auto;
}


@media (max-width: 1280px) {
    *{
        overflow: hiddden;
    } 

    .about-me_content img {
        top: -25px;
        max-width: 50vw;
        right: 10vw;
    }

    .join-me {
        left: 0vw;
        height: 45vh;
        bottom: 0;
    }
}


@media (min-width: 1440px) { 
    .about-me_content img {
        top: -62px;
    }

    .join-me {
        height: 65vh;
        bottom: 0;
    }
}

@media (min-width: 1920px) { 
    #about-me {
        height: 135vh;
    }

    .about-me_content img {
        min-width: 60vw;
        top: -62px;
    }

    .join-me {
        height: 60vh;
        bottom: 0;
    }
}

@keyframes autorun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}
@keyframes autorun2 {
    from {
        right: 100%;
    }
    to {
        right: calc(var(--taille) * -1);
    }
}