body {
    background-color: var(--blue);
    overflow-x: hidden;
}


/* SERVICES */

.service {
    width: 100%;
    margin-top: 20vh;
    padding: 0px 5vw;
    display: flex;
    justify-content: space-between;
}

.service-content {
    width: 50vw;
}

.service-content-text {
    color: var(--white);
}

.service-content-layout {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5vw;
}

.service-content-item:nth-child(1),
.service-content-item:nth-child(2),
.service-content-item:nth-child(3),
.service-content-item:nth-child(4),
.service-content-item:nth-child(5),
.service-content-item:nth-child(6) {
    width: 30%;
}

.placeholder {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: var(--beige);
    margin-bottom: 1vw;
}

.service-content-item-title {
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.service-content-item-text {
    color: var(--white);
    font-size: clamp(.8rem, 1.2vw, 1.5rem);
}

.top-service {
    margin: 10vw 0px 5vw;
    padding: 0px 5vw;
}

.top-service-title {
    text-align: center; 
}

.top-service-text {
    text-align: center;
    color: var(--white);
}
.card-wrapper {
    margin-top: 10vh;
    display: flex;
    gap: 60px;
}

.formation-card {
    width: 15vw;
    height: 35vh;
}

.card-header {
    background-color: var(--beige);
    height: 75%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-footer {
    background-color: var(--blue);
    height: 25%;
    box-shadow: 0px 1px 5px 1px #1111118e;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer-title {
    color: var(--yellow);
    font-size: clamp(.8rem, 1.3vw, 2.5rem);
}

/* PRICING */

.pricing {
    width: 100vw;
    background-color: var(--white);
}

.pricing-title {
    text-align: center;
    padding-top: 10vh;
}

.pricing-text {
    text-align: center;
    color: var(--blue);
}

.pricing-container {
    padding: 5vw 10vw;
    display: flex;
    gap: 20px;
}

.pricing-card {
    width: 20vw;
    border-radius: 20px;
    background-color: rgba(16, 0, 113, 0.09);
    padding: 2vw;
}

.pricing-card-header_title {
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-weight: 900;
}


.pricing-card-header_text {
    margin-top: .5vw;
}

.pricing-card-body {
    margin: 2vw 0px;
}

.pricing-card-body_price {
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-weight: 900;
    margin-bottom: 1vw;
}

.pricing-card-body_action {
    font-weight: bold;
    border-radius: 10px;
}

.pricing-card-footer_include {
    display: block;
    margin: .5vw 0px;
}

/* TESTIMONIES */
.testimonies {
    width: 100%;
}

.testimonies-title {
    width: fit-content;
    margin: 8vw auto 10px;
    color: var(--yellow);
}

.testimonies-text {
    width: 50vw;
    text-align: center;
    margin: auto; 
    color: var(--white);
}



.testimonie {
    background-color: var(--beige);
    width: 300px;
    padding: 40px 50px;
    border-radius: 40px;
}

.testimonie-action {
    display: block;
    width: fit-content;
    margin: 2.6vh auto;
}

.slider {
    width: 80%;
    margin: 3.5vh auto 10px;
    overflow: hidden;
    
}

.slider .list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45vh;
    min-width: calc(300px * var(--items));
    position: relative;
}

.slider .testimonie {
    width: var(--width);
    position: absolute;
    left: 100%;
    animation: autorun 30s linear infinite;
    animation-delay: calc( (30s / var(--items)) * (var(--position) - 1) - 30s);
}

.client {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.client-name {
    font-size: 1rem;
}

.client-username {
    font-size: .9rem;
}

.client-profile {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: var(--blue);
    margin-right: 10px;
}

.testimonie-info-title {
    font-size: 1.2rem;
}

.testimonie-info-text {
    font-size: 1rem;
}




@keyframes autorun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}