body {
    background-color: var(--blue);
    overflow-x: hidden;
}

/* SERVICES */

.services {
    width: 100%;
    margin-top: 20vh;
}

.service {
    box-shadow: 1px 2px 2px #111;
    border-radius: 20px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-title {
    text-align: center;
}

.service-text {
    color: var(--white);
    text-align: center;
    padding: 0px 30vw;
}

.service-list {
    padding: 5vw 15vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.illustration {
    background-color: var(--beige);
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
    height: auto;
}

.desc-services-text {
    color: var(--yellow);
    font-size: 1.5rem;
}

.desc-action {
    background-color: transparent;
    color: var(--white);
    width: fit-content;
    display: block;
}

.service-action {
    display: block;
    width: fit-content;
    margin: 0px auto;
    font-weight: 700;
    transform: translateY(1vw);
}

.testimonies {
    width: 100%;
}

.testimonies-title {
    width: fit-content;
    margin: 8vw auto 10px;
    color: var(--yellow);
}

.testimonies-text {
    width: 50vw;
    text-align: center;
    margin: auto; 
    color: var(--white);
}

.testimonie {
    background-color: var(--beige);
    width: 300px;
    padding: 40px 50px;
    border-radius: 40px;
}

.testimonie-action {
    display: block;
    width: fit-content;
    margin: 2.6vh auto;
}

.slider {
    width: 80%;
    margin: 3.5vh auto 10px;
    overflow: hidden;
    
}

.slider .list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45vh;
    min-width: calc(300px * var(--items));
    position: relative;
}

.slider .testimonie {
    width: var(--width);
    position: absolute;
    left: 100%;
    animation: autorun 30s linear infinite;
    animation-delay: calc( (30s / var(--items)) * (var(--position) - 1) - 30s);
}

.client {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.client-name {
    font-size: 1rem;
}

.client-username {
    font-size: .9rem;
}

.client-profile {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: var(--blue);
    margin-right: 10px;
}

.testimonie-info-title {
    font-size: 1.2rem;
}

.testimonie-info-text {
    font-size: 1rem;
}




@keyframes autorun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}